
.footer-top-area{
    background-color: #000000;
    
}
.img-area img{
    width: 35%;
    position: relative;
    right:200px;
  
}
.footer-top-menu-aria{
    justify-content: space-between;
    text-align: left;
}
.footer-top-menu-aria div ul li a{
	font-size: 14px;
	color: #fff;
	line-height: 18px;
}